<!-- app/src/main/AndroidManifest.xml <application> 内 -->

<meta-data
    android:name="com.facebook.sdk.ApplicationId"
    android:value="${FB_APP_ID}" />
<meta-data
    android:name="com.facebook.sdk.ClientToken"
    android:value="${FB_CLIENT_TOKEN}" />
